*{
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,247,1) 50%, rgba(252,176,69,1) 100%);
text-align: center;
}
.container{
    height: 70vh;
}
#game{
    margin-top: 150px;
}
#box{
    height: 90px;
    width: 90px;
    border-radius: 20%;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: rgb(34,193,195);
    color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(62,15,29,0.9865196078431373) 100%);
    background-color: #ffffc7;
}
#resetbtn{
    font-size: 22px;
    padding: 5px 5px 5px 5px;
    background: rgb(32,222,194);
    background: linear-gradient(0deg, rgba(32,222,194,1) 0%, rgba(235,105,65,0.9865196078431373) 45%);
color: white;
border-radius: 50px;
}
#resetbtn:hover{
    scale: 1.0;
    transition: ;
    background: rgb(32,222,194);
    background: linear-gradient(0deg, rgba(32,222,194,1) 59%, rgba(235,105,65,0.9865196078431373) 100%);
}

.hide{
    display: none;
}